/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* COUNTDOWN */

.countdown {
    background-color: skyblue;
    border-radius: 20px;
    width: 600px;
    height: 300px;
}

.countdown .title {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.countdown .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
}